.footer { 
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100%;
    background-color: transparent;
    border-top: 2px #fff solid;
    padding: 0 50px;
}

.illuminator {
    width: 40px;
    height: 40px;
    border: 7px solid rgb(71, 71, 71);
    border-radius: 50%;
    background-color: #1c1936;
    margin-right: 20px;
}


