.footer { 
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100%;
    background-color: transparent;
    border-top: 2px #fff solid;
    position: fixed;
    bottom: 0;
}

p {
    flex: 1 1 50%;
}

span {
    flex: 1 1 50%;
}

.font_one {
    
}

.font_two {
    font-style: italic;
}
