@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

.app-wrapper {
    margin: 0 auto;
    background-image: url('../public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
}

body {
    color: #fff;
    font-family: Cardo;
    font-size: 22px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #a818af;
    transition: color 0.2s ease-in-out; 
}

